//---------------------------------------
// PATRONES DE COLORES
//---------------------------------------
$principal:#DB2579;
$secundario:#9D2A75;
$precio: #FF914D;
$texto: #545454;
$blanco: #F6F6F6;
/*----------------------------------------
1. TIPOGRAFIA DEL SITIO
-----------------------------------------*/
@font-face {
    font-family: 'Cerebri Sans Book';
    font-style: normal;
    font-weight: normal;
    src: local('Cerebri Sans Book'), url('Cerebri Sans Book.woff') format('woff');
    }
  



html {
    font-size: 13px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $texto;
}

a{
    color: $blanco;
    text-decoration: none;
}

a:hover{
    font-style: italic;
    color: $texto;
}

.display-1{
    font-family: 'Source Code Pro', monospace;
}

.texto{
    
    color: $blanco!important;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

/*-----------------------------------------
3. ESTILOS COLOR PRINCIPAL
------------------------------------------*/

.bg-primary {
    background-color: $principal !important;
}


.text-primary {
    color: $principal !important;
}

.text-secondary{
    color: $secundario !important;
}

.bg-secondary{
    background-color: $secundario !important;
}


.bg-light{
    background-color: $blanco !important;
    
}


/*----------------------------------------
HERO
-----------------------------------------*/


.jumbotron {
    background-image: url("/assets/images/shake.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  
